body {
  padding-top: 20px;
}

.sidebar {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 4px;
}

.admin-glyph {
  padding-right: 10px;
}

#current-post-title {
  float: left;
}

.btn-new-post {
  float: right;
  margin-top: 10px;
}

#post-table {
  padding-top: 15px;
}

