/*****************
      Global
******************/

body {
  padding-top: 70px;
}

/*****************
    End Global
******************/

/*****************
      Sidebar
******************/

.sidebar {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 4px;
}

.sidebar-content {
  padding: 0px 20px;
}

#bio-gravatar {
  border-radius: 50%;
  -moz-border-radius:; 50%;s
  -webkit-border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
}

#bio-name {
  text-align: center;
}

#bio-about {
  padding: 10px 0px;
  text-align: justify;
}

.all-tags {
  padding-left: 15px;
}

.all-tags li {
  padding-bottom: 4px;
}

.all-tags .glyphicon-tag {
  font-size: 0.8em;
}

.all-tags a {
  color: #666;
}

/*****************
    End Sidebar
******************/

/*****************
      Admin
******************/

.admin-glyph {
  padding-right: 10px;
}

#current-post-title {
  float: left;
}

.btn-new-post {
  float: right;
  margin-top: 10px;
}

#post-table {
  padding-top: 15px;
}

/*****************
    End Admin
******************/

/*****************
      Post
******************/

/** All Posts **/

.post {
  margin-bottom: 20px;
}

.post-author {
  font-size: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
  line-height: 1.5;
  vertical-align: baseline;
  color: #999;
}

.post-author .glyphicon {
  padding-right: 2px;
  padding-left: 3px;
}

.post-author .glyphicon-tags {
  margin-right: 6px;
}

.post-title {
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.post-title a {
  text-decoration: none;
  color: #666;
}

.post-title a:hover {
  color: #000;
}

/** Index Post **/

.post-end {
  display: block;
}

.comments-link {
  float: right;
  padding-right: 10px;
}

.comments-link .glyphicon {
  margin-right: 4px;
}

/** Single Post **/

.comments {
  padding: 0px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

div.comments h3 {
  padding-top: 10px;
  margin: 0px;
}

/*****************
    End Post
******************/
