/*****************
      Global
******************/

body {
  padding-top: 70px;
}

/*****************
    End Global
******************/

/*****************
      Sidebar
******************/

.sidebar {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 4px;
}

.sidebar-content {
  padding: 0px 20px;
}

#bio-gravatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
}

#bio-name {
  text-align: center;
}

#bio-about {
  padding: 10px 0px;
  text-align: justify;
}

.all-tags {
  padding-left: 15px;
}

.all-tags li {
  padding-bottom: 4px;
}

.all-tags .glyphicon-tag {
  font-size: 0.8em;
}

.all-tags a {
  color: #666;
}

/*****************
    End Sidebar
******************/

/*****************
      Admin
******************/

.admin-glyph {
  padding-right: 10px;
}

#current-post-title, .pages-title {
  float: left;
}

.btn-new-post {
  float: right;
  margin-top: 15px;
}

#post-table, #pages-table {
  padding-top: 15px;
}

/*****************
    End Admin
******************/

/*****************
  Admin Sidebar
******************/

@media (min-width: 1200px)
.admin-sidebar {
  width: 260px;
}

@media (min-width: 992px)
.admin-sidebar {
  position: fixed;
  top: 20px;
  width: 213px;
}

@media (min-width: 768px)
.admin-sidebar {
  padding-left: 20px;
}

@media (min-width: 992px)
.admin-sidebar .nav {
  margin-top: 0px;
  margin-bottom: 0px;
}

.admin-sidebar .nav>li>a {
  display: block;
  padding: 4px 20px;
  font-weight: 400;
  color: #878787;
}

.admin-sidebar .nav>li>a:hover,
.admin-sidebar .nav>li.a:focus {
  padding-left: 19px;
  background-color: transparent;
  border-left: 1px solid #563d7c;
  color: #563d7c;
}

.admin-sidebar .nav>.active>a:focus,
.admin-sidebar .nav>.active>a:hover,
.admin-sidebar .nav>.active>a {
  padding-left: 18px;
  border-left: 2px solid #563d7c;
  color: #563d7c;
  font-weight: 700;
  background-color: transparent;
}

/*****************
      Post
******************/

/** All Posts **/

.post {
  margin-bottom: 20px;
}

.post-author {
  font-size: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
  line-height: 1.5;
  vertical-align: baseline;
  color: #999;
}

.post-author .glyphicon {
  padding-right: 2px;
  padding-left: 3px;
}

.post-author .glyphicon-tags {
  margin-right: 6px;
}

.post-title {
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.post-title a {
  text-decoration: none;
  color: #666;
}

.post-title a:hover {
  color: #000;
}

/** Index Post **/

.post-end {
  display: block;
}

.comments-link {
  float: right;
  padding-right: 10px;
}

.comments-link .glyphicon {
  margin-right: 4px;
}

/** Single Post **/

.comments {
  padding: 0px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

div.comments h3 {
  padding-top: 10px;
  margin: 0px;
}

/*****************
    End Post
******************/
