{% extends 'base.html' %}
{% set active_page = 'admin' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <h2>Welcome {{ current_user.first_name }}</h2>
            <h3 id="current-post-title">Current Posts:</h3>
            <a href="{{ url_for('new_post') }}" class="btn btn-primary btn-new-post">Create Post</a>
            <div class="clearfix"></div>
            <div id="post-table" class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Time Posted</th>
                            <th>Tags</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id | safe }}</td>
                            <td>{{ post.title | safe }}</td>
                            <td>{{ moment(post.timestamp).format('MMMM Do YYYY, h:mm a') }}</td>
                            <td>{% for tag in post.tags %}{{ tag.name | safe }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                            <td><a href="{{ url_for('edit_post', id=post.id) }}"><span class="glyphicon glyphicon-pencil admin-glyph" aria-hidden="true"></span></a><a href="{{ url_for('delete_post', id=post.id) }}"><span class="glyphicon glyphicon-trash admin-glyph" aria-hidden="true"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h3 id="pages-title" style="float: left;">Pages:</h3>
            <a href="{{ url_for('new_page') }}" class="btn btn-primary btn-new-post">Create Page</a>
            <div class="clearfix"></div>
            <div id="pages-table" class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for page in all_pages %}
                        <tr>
                            <td>{{ page.id | safe }}</td>
                            <td>{{ page.title | safe }}</td>
                            <td><a href="{{ url_for('edit_page', id=page.id) }}"><span class="glyphicon glyphicon-pencil admin-glyph" aria-hidden="true"></span></a><a href="#"><span class="glyphicon glyphicon-trash admin-glyph" aria-hidden="true"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <nav class="admin-sidebar affix hidden-print hidden-sm hidden-xs">
                <ul class="nav">
                    <li class="admin-sidebar-title"><h4>Page Contents</h4></li>
                    <li><a href="#post-table">Posts</a></li>
                    <li><a href="#pages-table">Pages</a></li>
                </ul>
            </nav>
        </div>
    </div>

<script>
    $(".nav li").on("click", function() {
      $(".nav li").removeClass("active");
      $(this).addClass("active");
    });

</script>
{% endblock %}
