{% extends 'base.html' %}
{% set active_page = 'index' %}
{% block content %}
                <div class="col-md-8">
                    {% for post in posts %}
                    <div class="post">
                        <h1 class="post-title"><a href="{{ url_for('single_post', title_slug=post.title_slug) }}">{{ post.title }}</a></h1>
                        <div class="post-author">
                            Posted by <a href="{{ url_for('user_profile', username=post.author.username ) }}" class="label label-info">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                        </div>
                        <div class="post-body">
                            <p>{{ post.body | markdown }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <h3>Bio Here</h3>
                    </div>
                </div>
{% endblock %}