{% extends 'base.html' %}
{% set active_page = 'index' %}
{% block content %}
                <div class="col-sm-8">
                    {% for post in posts %}
                    <div>
                        <h2>{{ post.title }}</h2>
                        <p>Posted by {{ post.author.first_name }} {{ post.author.last_name }}</p>
                        <hr />
                    </div>
                    <div>
                        <p>{{ post.body | safe }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-sm-4">
                    <div class="sidebar">
                        <h3>Bio Here</h3>
                    </div>
                </div>
{% endblock %}