{% extends 'base.html' %}
{% set active_page = '{{ current_user.username }}_profile' %}

{% block content %}
    <div class="col-xs-12 col-md-8">
        <div class="profile">
            <h1>{{ user.first_name | safe }} {{ user.last_name | safe }} {% if current_user.is_authenticated() and current_user.username == user.username %}<small><a href="{{ url_for('edit_user', username=user.username) }}">edit</a></small>{% endif %}</h1>
            {% if user.about_me %}<p>{{ user.about_me | safe }}</p>{% else %}{% if current_user.is_authenticated() and current_user.username == user.username %}<p>You should consider entering a short profile, click edit above to get started!</p>{% endif %}{% endif %}
        </div>
        <hr />
    {% if posts %}
        {% for post in posts %}
        <div class="post">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="post-author">
                <span class="glyphicon glyphicon-user"></span> Posted by <a href="{{ url_for('user_profile', username=post.author.username ) }}" class="label label-info">{{ post.author.first_name }} {{ post.author.last_name }}</a> <span class="glyphicon glyphicon-calendar"></span> {{ moment(post.timestamp).calendar() }}{% if post.tags %} <span class="glyphicon glyphicon-tags"></span>  {% for tag in post.tags %}<a href="{{ url_for('tag', tag=tag.name) }}" class="label label-success">{{ tag.name }}</a>{% if not loop.last %}, {% else %}.{% endif %}{% endfor %}{% endif %}
            </div>
            <div class="post-body">
                <p>{{ post.short | markdown }}</p>
            </div>
            <div class="post-end"><a class="read-more" href="{{ url_for('single_post', title_slug=post.title_slug) }}">Read more...</a><div class="comments-link"><span class="glyphicon glyphicon-comment"></span><a href="{{ url_for('single_post', title_slug=post.title_slug) }}#disqus_thread"></a></div></div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
    
    {% include 'sidebar.html' %}
    
    <script type="text/javascript">
        var disqus_shortname = 'jmickey';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
        
{% endblock %}